<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">

    # File appender
    <Appenders>
        <File name="File" fileName="./../logs/hotel.log" bufferedIO="true" immediateFlush="true" append="true">
            # Pattern of log message for file appender
            <PatternLayout>
                <pattern>%d %p %C{1.} [%t] %m%n</pattern>
            </PatternLayout>
        </File>

        # Console appender
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>
    </Appenders>

    <Loggers>
        <Root level="info">
            <AppenderRef ref="File"/>
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>

</Configuration>
